# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Local SDK path, written by Android Studio
local.properties

# Documentation site
website/node_modules
website/.vitepress/dist
website/.vitepress/cache
